_site/
_site - Copy/
_projects-Tempo/
_projects/
projects/
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.jekyll-cache/
.sass-cache/
.DS_Store
Thumbs.db
desktop.ini
assets/pdfs/2025-06-17-flexible-analytical-life-cycle.pdf
toolkits/cheatsheets/Matplotlib_Cheat_Sheet.pdf
toolkits/cheatsheets/NumPy_Cheat_Sheet.pdf
toolkits/cheatsheets/Pandas_Cheat_Sheet.pdf
toolkits/cheatsheets/Python_Cheat_Sheet.pdf
toolkits/cheatsheets/Scikit_Learn_Cheat_Sheet_Python.pdf
toolkits/notebooks/Chest_CT-Scan-CNN-Project.ipynb
assets/documents/chest-cancer-detection.pdf
assets/videos/background-video.mp4
assets/videos/llmachine.mp4
assets/toolkits/study_planners/ML_Study_Planner_60Days.pdf

Gemfile.lock
