<section id="about">
    <div class="about-container">
        <div class="profile-pic">
            <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Lissan's Profile Picture">
        </div>
        <h2 class="about-heading">Hi, I'm <span class="highlight">Lissan</span></h2>
        <p class="about-title">Data Scientist & Nuclear Medicine | PET/CT Specialist</p>
        <div class="about-content">
            <p>Welcome to <strong>LLmachine</strong>, where data science meets innovation!</p>
        </div>
    </div>
</section>

