<section id="projects">
    <h2>Projects</h2>
    <ul>
        <li>
            <a href="https://github.com/DataForSolution/Data-Solution/blob/Master/chest_ct_scan_Cancer_Detection_cnn.ipynb" target="_blank">
                Chest CT Scan Cancer Detection
            </a>
        </li>
        <li>
            <a href="https://github.com/DataForSolution/Data-Solution/blob/Master/Adversarial_Attacks.ipynb" target="_blank">
                Adversarial Attacks in Machine Learning
            </a>
        </li>
    </ul>
</section>
