{% if page.url == "/projects/" %}
<section id="projects">
    <h2>Our Projects</h2>
    <ul>
        <li>
            <a href="https://github.com/DataForSolution/Data-Solution/blob/Master/chest_ct_scan_Cancer_Detection_cnn.ipynb" target="_blank">
                🏥 Chest CT Scan Cancer Detection
            </a>
            <p>AI-powered early detection using CT scans.</p>
        </li>
        <li>
            <a href="https://github.com/DataForSolution/Data-Solution/blob/Master/Adversarial_Attacks.ipynb" target="_blank">
                🔍 Adversarial Attacks in Machine Learning
            </a>
            <p>Exploring AI security vulnerabilities and model robustness.</p>
        </li>
        <li>
            <a href="https://github.com/DataForSolution/Data-Solution/blob/main/projects/SVM_440.ipynb" target="_blank">
                📊 Support Vector Machine (SVM) for Classification
            </a>
            <p>Applying SVM for high-accuracy classification in machine learning.</p>
        </li>
    </ul>
  {% include navigation.html %}

</section>
{% endif %}
