/* Links Styling */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Recent Posts Styling */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul li a {
    font-weight: bold;
    color: #333;
}

ul li a:hover {
    color: #4CAF50;
}
